/* typography */

/* ----- typography ----- */
html{font-size:100.01%;}

body {
  font-size: 100%; /* (16px = 1em) */
  line-height: 1.5;
  background: #FCFDFB;
  color: #5B5352;
}


/* serif font */

.serif,
body { 
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, "Times New Roman", Times, serif;  
  
  /*old font stack
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia,  serif;  
  */
}

.sans {
  font-family: "proxima nova", "proxima-nova-1","proxima-nova-2", Avenir, Futura, "Gill Sans", Helvetica, Arial, sans-serif;
}

p {margin:0 0 1.5em;}
blockquote {margin:1.5em;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 0 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}

/* paragraphs */

/* 14px = .875em */
.small_text {
  font-size: .875em;
  line-height: 1.7143em;
  margin-bottom: 2em;
}

/* 12px = .75em */
.tiny_text {
  font-size: .75em;
}

.tiny_text {
  line-height: 1em;
  margin-bottom: 2.4em;
}


/* headings */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  
  font-family: "proxima nova", "proxima-nova-1","proxima-nova-2", Avenir, Futura, "Gill Sans", Helvetica, Arial, sans-serif;
  
  /*old font stack
  font-family: "proxima nova", "proxima-nova-1","proxima-nova-2", "Gill Sans", Helvetica, Arial, sans-serif;
  */
}

h1, h2, h3 {
  font-weight: bold;
  color: #A30A0A;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
}


h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

/* links */

a, 
a:link, 
a:visited {
  color: #0A72A3;
  text-decoration: none;
}

a:hover, 
a:active, 
a:focus {
  color: #C33;
  text-decoration: none;
}

a.why_edition {
  font-style: normal;
  text-decoration: underline;
}


